@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');

.question-span{
    margin: 10px;
    /* font-weight: bold; */
    font-size: 20px;
    font-weight: 500;
}

h1{
    margin-left: 5%;
    /* background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red); */
}

button{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 300;
}

.question-div{
    margin-top: 0px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: linear-gradient(to left, violet, indigo, blue, green, orange, red);
    /* max-width: 800px;
    display: block; */
    width:800px;
    height:100px;
 
}

#main-container{
    position: absolute;
    top: 35%;
    left: 45%;
    margin:0 auto;
    background:transparent;
    margin-left: -250px;
    margin-right: 250px;
    margin-top:-250px;
}

body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.points{
    display: flex;
    position: relative;
}